<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <section id="container">
      <%= yield %>
    </section>
  </body>
</html>
